name: Build and Deploy Flatpak
on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  flatpak:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/andyholmes/flatter/gnome:48
      options: --privileged

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup GPG
      id: gpg
      uses: crazy-max/ghaction-import-gpg@v6
      with:
        gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}

    - name: Build and Deploy
      uses: andyholmes/flatter@v1
      with:
        files: |
          buzz.zephyros.hello.json
        gpg-sign: ${{ steps.gpg.outputs.fingerprint }}
        upload-pages-artifact: true # Prepares the repo for GitHub Pages
        
  deploy:
    needs: flatpak
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4